GCC?=/usr/bin/docker-compose
BASH?=/bin/bash
GCCMD?=up
GCFLAGS?=-d

CP?=/usr/bin/cp
CPFLAGS?=-prvn
CPSRC?=./.local/var/public/*
CPDEST?=./public

VCS?=git
VCSCMD?=clone
VCFLAGS?=-b
VCARGS?=master
VC_URL?=https://github.com/inmanturbo/clr-lemp-data.git
LOCAL_SEEDS_DIR?=./.local/var/seeds



