
# These are the Environment variables
# for the mariadb container
USER_ID=${UID}
GROUP_ID=${GID}
MYSQL_DATABASE=laravel
MYSQL_USER=laravel
MYSQL_PASSWORD=laravel
MYSQL_ROOT_PASSWORD=laravel
MYSQL_SEED_PATH=./.local/var/seeds/clr-lemp-data/laravel.sql





